@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format('woff2');
  font-display: swap;
}
html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/*Pages*/

.page-header {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}

.logo-img {
  margin-right: 30px;
  margin-left: 70px;
}
/*Nav*/
.navigation{
  display: flex;
  justify-content: space-between;
}
.navigation-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 339px;
  }

.navigation-user {
  margin-left: 285px;
  width: 268px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
}

.main-container{
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 485px;
}

.hero-logo {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px 371px;
  width: 458px;
  height: 352px;
}



.title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 69px 290px 25px 290px;
}

.title-2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 25px 274.5px 90px 274.5px;
}

.advantages-item {
  min-height: 385px;
  min-width: 400px;
}

.advantages-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;

}

.line-1 {
  min-height: 385px;
}

.basic-3 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  min-width: 1200px;
}

.advantages-basic {
  display: flex;
  flex-direction: column;
  margin: 0 85px;
  width: 230px;
  height: 181px;
}

.advantages-item p {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-item h3 {
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase
}

li .basic-3 {
  color: #ffffff;
  background-color: #82B3D3;
}

.basic-3 p {
  color: #ffffff;
}

li .second-1 {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

li .second-2 {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.discription-advantages {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.discription-advantages h2{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.discription-advantages p {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.services-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
}

article {
  margin: 0 a;
  height: 385px;
  width: 400px;
}

.interested {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-interested {
  margin: 54px 412px 96px;
  padding: 0;
  width: 376px;
  height: 52px;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.foote-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  width: 1200px;
  text-align: center;
  justify-content: space-evenly;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
}

.subscription {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 414.86px;
  margin: 0 auto;
}

.subscription h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription p {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.footer-social a{
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-address a{
  font-family: 'PT Sans', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

.footer-academy a {
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

.search {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/catalog/Filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}


.search h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrubs-item a {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #ffffff;
  text-transform: capitalize;
}

.filter-price-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  color: #ffffff;
  text-transform: capitalize;
}

.search ul {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #ffffff;
}

.header-resylt h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.header-resylt a {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

.product-card-item h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  color: #000000;
}

.product-card-item .product-card-type-home {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-item .product-card-price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  text-align: right;
}

.product-card-item .rating {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item a {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item-active a {
  color: #000000;
}

.pagination-item-points a {
  color: #000000;
}

/*.button {
  padding: 8px 34px;
  width: 160px;
  height: 36px;
  background: #756157;
  border-radius: 4px ;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}*/
